.meal-card .card {
  border-radius: 10%;
  width: 18rem;
  margin: 20px 0px 20px 0px;
}

.meal-card .card-image {
  border-radius: 10% 10% 0% 0%;
}

.meal-card .card-title {
  height: 50px;
  margin-bottom: 30px;
  align-items:center;
  justify-content: center;
  display: flex;
}